docs/n8n_workflow.json
{
    "name": "Weekly Event Reporting Workflow",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 8 * * 1"
                        }
                    ]
                }
            },
            "id": "18c28135-0c58-45a7-96a1-633b490f2371",
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "command": "python -m src.demo_ingestion"
            },
            "id": "2daef88c-6c61-45a4-9e32-b7e5e3153c92",
            "name": "Run Python Collectors",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "fromEmail": "alerts@prospectpark.com",
                "toEmail": "manager@example.com",
                "subject": "Weekly Event & Traffic Alert Summary",
                "html": "<h1>Weekly Events Summary</h1><p>The ingestion engine found {{ $json[\"count\"] }} upcoming events.</p><p>Check the attached CSV for details.</p>",
                "attachments": "extracted_events.csv"
            },
            "id": "5f1b2c3d-4e5f-6g7h-8i9j-0k1l2m3n4o5p",
            "name": "Send Email",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2,
            "position": [
                910,
                300
            ]
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Run Python Collectors",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Run Python Collectors": {
            "main": [
                [
                    {
                        "node": "Send Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}